.main {
  width: 100%;

  .search-bar {
    width: 50%;

    input {
      height: 20px;
      width: 50%
    }
  }

  .sort-bar{
    width: 50%;
    position: relative;

    .menu {
      position: relative;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      width: 20%;
      min-width: 106px;
      margin: auto;
    }
  }

}
