.main {
  width: 100%;

  .search-bar {
    width: 50%;

    input {
      height: 30px;
      width: 80%;
      margin-right: 10px;
      background-color: #313131;
      border: none;
      color: white;
      font-size: 15px;
      padding: 0 10px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  .sort-bar{
    width: 30%;
    position: relative;

    .menu {
      position: relative;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      width: 20%;
      min-width: 106px;
      margin: auto;
    }
  }
}
